@tailwind base;
@tailwind components;
@tailwind utilities;

/* SignUp.css */
/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .signup-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .signup-title {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }
  
  .signup-form .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .register-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
  }
  
  .register-btn:hover {
    background-color: #45a049;
  }
  
  .signup-footer {
    margin-top: 20px;
    color: #666;
  }
  
  .login-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .login-btn:hover {
    background-color: #007bb5;
  }
   */